html {
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
/*  background-color: white; */
    color: grey;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
}

/*--------------------------------Navigational Elements--*/

nav {
    display: flex;
    height: 5vh;
    justify-content: space-around;
    align-items: center;
    animation: slideDown 2s ease;
}

li {
    /*border: 1px purple solid;*/
    display: inline-block;
    word-spacing: 5em;
}

.desktop {
    list-style: none;
    font-size: 2em;
    word-spacing: 5px;
    gap: 2rem;
    text-align: right;
}

.logo {
    color: black;
    font-size: 3em;
    cursor: default;
    text-align: left;
    font-weight: 550;
}

a {
    display: block;
    text-decoration: none;
    color: gray;
    padding: 5px;
    transition: all 100ms ease;
}

a:not(.socialicon):hover {
    color: black;    
}

h1 {
    text-align: center;
    cursor: default;
}

/*-------------------------About Me Section--*/

#about_section {
    display: flex;
    /* border: 1px yellow solid; */
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#about_section img {justify-content: flex-start;}

#about_section .about {justify-content: flex-end;}

.about {
    float: right;
    max-width: 50%;
    /* border: 1px red solid; */
    text-indent: 0.5cm;
    padding: 30px;
    text-align: center;
    margin-left: 50px;

    animation: slideRight 2s ease;
}

.about p {
    font-size: 3rem;
    font-weight: bolder;
    color: black;
}

div {padding: 20px;}

.profile {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    box-shadow: 7px 5px 20px -2px rgba(0,0,0,0.67);
    object-fit: cover;
    filter: grayscale(1.0);

    animation: slideLeft 2s ease;
}

.profile:hover {
    transition: 0.5s ease-out;
    border-radius: 0;
    box-shadow: 7px 5px 20px -2px rgba(0,0,0,0.67);
    filter: grayscale(0.3);
}



/*----------------------Projects Section--*/

#projects_section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    /* border-bottom: 1px gray solid; */
}

.card {
    margin: 25px;
    background-color: white;
    border: 1px black solid;
    border-radius: 15px;
    text-align: center;
    transition: all 0.25s ease;
}

.card:hover  {
    box-shadow: 7px 5px 20px -2px rgba(0,0,0,0.67);
    filter: grayscale(0);
}
.card:hover h3 {color: black;}

.card img {
    /*border: 1px purple dotted;*/
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    filter: grayscale(1);
    background-color: white;
}

.card:hover img {filter: grayscale(0);}

/*---------------------------------Contact Section--*/


#social {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    transition: all 2s ease;
}

.socialicon:hover, .resume:hover {
    /* animation: moveUp 0.5s ease; */
    color: white;
    transform: translateY(-10px);
}


.resume {
    border-radius: 50px;
    border: none;
    font-size: large;
    height: 70px;
    background-color: black;
    font-weight: bold;
    
}

.resume a {color: white;}
.resume a:hover {color: white;}

#social img {
    width: 70px;
    border-radius: 50px;
    object-fit: cover;
    background-image: none;
    filter: grayscale(1);
}

.social-github {width: 100px;}


 /* ---------Skills Section---------- */

#skills {
    display: flex;
    justify-content: center;
    align-items: center;
} 
 #skill_section {
    border: 2px black solid;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    width: fit-content;
 }

.column {
     margin: 25px;
}

.skill h3 {
    color: black;
}


